:root{
    --box-background-color: #FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
a {
    text-decoration: none;
    color: blue;
  }

a:hover {
    cursor: pointer;
  }

.header{
    background-color: #6E36F7;
    color: white;
    padding: 20px;
}

.header_box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}

.header_map{
    display: flex;
    gap: 10px;
    align-items: center;
}

.header_list{
    display: flex;
    gap: 50px;
    list-style-type: none;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

.header_list-item{
    cursor: pointer;
    transition: 0.4s;
    font-size: small;
}

.header_list-item:hover{
    transform: translateY(-2px);
}

.logo{
    background-color: #6E36F7;
    color: white;
    padding: 20px;
}

.logo_box{
    display: flex;
    flex-direction: column;
}

.logo_text{
    display: flex;
    justify-content: flex-start;  
    color: rgb(255, 168, 186);
}

.logo_text_size{
    font-weight: 500;
    font-size: 44px;
}

.logo_menu{
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 15px;
}

.logo_menu_button{   
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    padding: 0 20px;
    border-radius: 20px;
    border: 0px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: 0.4s;
}

.logo_menu_button_select{
    background-color: white;
    color:black;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0px;
    font-weight: bold;
    transition: 0.4s;
}

.logo_menu_button:hover{
    transform: translateY(-3px);
    cursor: pointer;
}

.logo_menu_button_select:hover{
    transform: translateY(-3px);
    cursor: pointer;
}

.logo_table{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo_table_box{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1030px;
    height: 77px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--box-background-color);
}

.logo_table_cell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    padding: 20px 20px;
    margin: 0;
    box-sizing: border-box;
}

.logo_table_cell:first-child{
    border-right: 1px solid gray;
}

.logo_table_cell_pop_from{
    position: absolute;
    background-color: var(--box-background-color);
    border: 1px solid gray;
    border-radius: 15px;
    color: red;
    height: 230px;
    width: 500px;
    top: 80px;
    left: 0px;
    font-size: 20px;
    display: none;
}
.logo_table_cell_pop_to{
    position: absolute;
    background-color: var(--box-background-color);
    border: 1px solid gray;
    border-radius: 15px;
    color: red;
    height: 180px;
    width: 500px;
    top: 80px;
    left: 250px;
    font-size: 20px;
    display: none;
}

.logo_table_cell_pop-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.logo_table_cell_pop-row:hover{
    background-color: #d2d6db;
}

.logo_table_cell_pop-row-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo_table_cell_pop-row-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.logo_table_cell_way{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 280px;
    margin: 0;
}

.logo_table_cell_way_cell{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-left: 20px;
}
.logo_table_box-switch{
    position: absolute;
    background-color: var(--box-background-color);
    border: 1px solid red;
    border-radius: 15px;
    color: red;
    height: 30px;
    width: 30px;
    top: 23px;
    left: 233px;
    font-size: 20px;
}
.logo_table_cell-text{
    color: gray;
}
.logo_table_cell-small-text{
    color: gray;
    font-size: small;
}
.logo_table_cell-text-desc-from{
    color: black;
    font-size: 16px;
    border: 0px;
    display: none;
}
.logo_table_cell-text-desc-to{
    color: black;
    font-size: 16px;
    border: 0px;
    display: none;
}

.logo_table_cell_pop-desc-selected-to{
    display: none;
}
.logo_table_cell_pop-desc{
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}
.logo_table_cell_pop-desc-text{
    color: black;
    font-size: 14px;
    padding-left: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}
.button_find{
    background-color: rgba(255, 0, 0, 0.65);
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 30px 50px;
    font-size: large;
    font-weight: bold;
}

.logo_find_track{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    font-size: smaller;
    padding-top: 10px;
    padding-bottom: 60px;
}
.main{
    background-color: rgb(240, 240, 240);
    color: black;
    padding: 0px;
}

.telegram{
    display: flex;
    justify-content: space-between;
}

.telegram_box{
    display: flex;
    justify-content: space-between;   
    width: 590px;
    background-color: var(--box-background-color);
    border-radius: 10px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.box_frame{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
}
.box_head{
    font-weight: bold;
    margin-bottom: 10px;
}

.box_body_list_telegram{
    font-size: small;
    list-style-type: none;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
    color: gray;
}

.box_body_list_bus{
    font-size: small;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
    color: gray;
}

.button_pink{
    background-color: pink;
    color: red;
    border-radius: 3px;
    border: 0px;
    padding: 10px 20px;
    font-weight: bold;
}

.telegram_box_pic{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bus_box{
    display: flex;
    justify-content: space-between;
    width: 590px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button_red{
    background-color: rgba(255, 0, 0, 0.65);
    color: white;
    border-radius: 3px;
    border: 0px;
    padding: 10px 20px;
    font-weight: bold;
}

.bus_box_pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.direction{
    display: flex;
    justify-content: space-between;
}

.direction_left{
    width: 68%;
}

.direction_right {
    width: 30%;
}

.box_head_direction{
    font-weight: bold;
    margin-bottom: 10px;
    margin-bottom: 20px;
}

.direction_box{
    margin: 0 auto;
    background-color: var(--box-background-color);
    border-radius: 10px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    margin-bottom: 60px;
}

.box_frame_direction{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_body_direction_left {
    width: 50%;
}

.box_body_direction_right {
    width: 50%;
}

.box_body_list-item_direction {
    padding: 26px 26px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: #d2d6db 1px solid;
}

.box_body_list-item_direction:last-child {
    border: none;
  }

.box_body_list-item_direction span {
    color: #ff4d4d;
  }

.rate_box{
    margin: 0 auto;
    background-color: var(--box-background-color);
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
}

.box_rate_direction{
    display: flex;
    flex-flow: column;
    padding-top: 15px;
    padding-bottom: 15px;
}

.box_body_list-item_rate{
    padding: 9px 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: medium;
    font-size: 14px;
    font-weight: 250;
  }

.box_body_list-item_rate_desc{
    display: flex;
    gap: 10px;
  }


.information{
    display: flex;
    justify-content: space-between;
  }

.information_left{
    width: 68%;
}

.information_right {
    width: 30%;
}

.box_frame_information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box_frame_information-item{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 30px;
    box-sizing: border-box;
    font-size: small;
    color: gray;
    font-stretch: extra-expanded;    
    letter-spacing: 1;
    line-height: 19px;
}

.box_frame_information-item-title{
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
}

.question_box{
    background-color: var(--box-background-color);
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 25px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
}

.question_box_direction{
    display: flex;
    flex-flow: column;
    padding-top: 15px;
    padding-bottom: 15px; 
}

.question_box_body_list-item{
    padding: 9px 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 250;
}

.subscribe_box{
    margin: 0 auto;
    background-color: rgb(207, 208, 249);
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    padding-top: 10px;
}

.subscribe_box_direction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 25px;
    font-size: 18px;
    font-weight: 350;
    margin-bottom: 40px;
}

.subscribe_box_input{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.subscribe_box_input-input{
    display: flex;
    height: 45px;
    width: 250px;
    padding-left: 20px;
    border-radius: 5px;
    color: black;
    border: 1px solid #ff0000;
    box-shadow: 1px 0 15px 0 rgba(0, 0, 0, 0.3);
}

.subscribe_box_input-button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ff4d4d;

    border: none;
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 1px 0 15px 0 rgba(0, 0, 0, 0.3);
}
.subscribe_box_input-alert{
    position: absolute;
    background-color: #ff4d4d;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    height: 30px;
    width: 30px;
    top: -15px;
    left: 200px;
}

.footer{
    background-color: white;
    color: black;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer_box{
    display: flex;
    flex-direction: column;
}

.footer_pic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer_pic-item-left{
    display: flex;
    justify-content: flex-start;
    width: calc(100% / 6);
    padding-top: 5px;
    padding-bottom: 10px;
}

.footer_pic-item-right{
    display: flex;
    justify-content: flex-end;
    width: calc(100% / 6);
}

.footer_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_text-item{
    display: flex;
    justify-content: flex-start;
    width: calc(100% / 6);
}

.footer_text-container{
    display: flex;
    flex-direction: column;
}

.footer_text-item-title{
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer_text-item-text{
    font-size: 14px;
    color: black;
    font-weight: 350; 
}

.footer_text-item-text ul{
    list-style-type: none;
    line-height: 1.9;

}

.footer_link{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: #d2d6db 1px solid;
}

.footer_link-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% / 6);
    font-size: 14px;
    font-weight: 350;
    padding-top: 10px;
    padding-bottom: 30px;
}
.footer_partner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer_partner-button{
    background-color: white;
    color: blue;
    border-radius: 5px;
    border: 1px solid blue;
    padding: 10px 20px;
    font-size: 14px;;
    font-weight: 250;
}
.footer_partner-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.footer_partner:first-child{
    padding-left: 10px;
    padding-right: 10px;
}
.footer_partner-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}